<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.user.BookUserMapper">
	<!--	sql片段  -->
	<sql id="showColum">
		userId,userPsw,userName,role
	</sql>
	<!-- 注册 -->
	<insert id="saveUser" parameterType="User">
		INSERT INTO system_book_user
		  (<include refid="showColum"/>)
			VALUES(#{userId},#{userPsw},#{userName},#{role})
	</insert>
	<!-- 登录 -->
	<select id="loginValidate" resultType="Integer">
		SELECT COUNT(1) FROM system_book_user 
			<where>
				<if test="userName!=null">
					and userName=#{userName}
				</if>
				<if test="userPsw!=null">
					and userPsw=#{userPsw}
				</if>
			</where>
	</select>
	<select id="getName" resultType="User">
		select 
		<include refid="showColum"/>
		from system_book_user
		<where>
			<if test="userName!=null">
				and userName=#{userName}
			</if>
		</where>
	</select>
	
	
</mapper>