<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.info.BookInfoMapper">
	
	
	<select id="getCateList" resultType="Category">
		SELECT * from system_book_category
	</select>
	<!-- 根据分类id查询 ????????????????-->
	<select id="findByid" resultMap="blist">
		SELECT b.*,c.category FROM system_book_info b
			INNER  JOIN system_book_category c ON(b.categoryId=c.id )
			<where>
				<if test="id!=0">
					and c.id=#{id}
				</if>
			</where>
	</select>
	
	<!-- 数据总条数 -->
	<select id="getCount" resultType="Integer">
		select count(1) from system_book_info
		<where>
				<if test="condition!=null and condition!=''">
					and bookName like concat('%',#{condition},'%')
				</if>
			</where>
	</select>
	<!-- 获得分页数据 -->
	<select id="getpageLists" resultMap="blist">
		SELECT b.*,c.category FROM system_book_info b
			INNER  JOIN system_book_category c ON(b.categoryId=c.id )
			<where>
				<if test="condition!=null and condition!=''">
					and bookName like concat('%',#{condition},'%')
				</if>
			</where>
			limit #{start},#{pageSize}
	</select>
	<!-- 模糊名字查询 -->
	<select id="findeByname" resultMap="blist">
		SELECT b.*,c.category FROM system_book_info b
			INNER  JOIN system_book_category c ON(b.categoryId=c.id )
			<where>
				bookName like concat('%',#{condition},'%')
			</where>
	</select>
<!--  --><!--  --><!--  --><!--  --><!--后端书写  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->	
	<!-- 添加分类名 -->
	<insert id="Addcategory">
		insert into system_book_category(category)
			values(#{category})
	</insert>
	
	<!-- 删除分类  -->
	<delete id="detelecategory" >
		DELETE FROM system_book_category WHERE id=#{id}
	</delete>
	
	<!-- 获得所有图书信息 -->
	<select id="getList" resultMap="blist">
		SELECT b.*,c.* FROM system_book_info b
			INNER  JOIN system_book_category c ON(b.categoryId=c.id )
	</select>
	<resultMap type="Info" id="blist" autoMapping="true">
		<association property="cate" javaType="Category" autoMapping="true">
		</association>
	</resultMap>
	
	<!-- 删除书籍 -->
	<delete id="deteleBook">
		DELETE FROM system_book_info  WHERE id=#{id}
	</delete>
	
	<!--查找书籍  -->
	<select id="findBook" resultMap="blist" >
		SELECT b.*,c.* FROM system_book_info b
			INNER  JOIN system_book_category c ON(b.categoryId=c.id )
			<where>
				b.id=#{id}
			</where>
	</select>
	<!-- 修改书籍信息 -->
	<update id="saveBook">
		update system_book_info
		<set>
			bookName=#{bookName}, author=#{author}, categoryId=#{categoryId}, publisher=#{publisher}, price=#{price}
		</set>
		<where>
				id=#{id}
		</where>
	</update>
	
</mapper>